body {
	background: url(images/papiernozycekamien.jpg);
	background-size: 100%;
	background-repeat: repeat;
	text-align: center;
	color: white;
}

.content {
	min-height: 100vh;
	width: 100%;
	background: rgba(0, 0, 0, 0.7);
}

.type {

	font-size: 32px;
	font-weight: bold;
	text-align: center;
	margin: 15px;
}

#js-playerPickElement,
#js-resultsTableElement,
#js-score {
	display: none;
} 

h1 {
	line-height: 100px;

	font-weight: bold;
}

#js-playerPick_rock,
#js-playerPick_paper,
#js-playerPick_scissors {
	font-size: 22px;
	margin: 15px;
}

.badge {
	font-size: 22px;
	line-height: 28px;
	padding-left: 10px;
	padding-right: 10px;
}

#js-playerName,
#js-computerName,
#js-playerPick,
#js-computerPick {

	font-size: 22px;
	margin-left: 20px;
	line-height: 40px;
	vertical-align: middle;
}

#js-playerResult,
#js-computerResult {
	color: red;
	font-size: 22px;
	margin-left: 20px;
	line-height: 40px;
}

.vs {
	font-size: 22px;
	line-height: 40px;
}

#js-score {
	width: 60%;
	margin: 0 auto;
}

.table {
	margin: 0;
}

th {
	text-align: center;
}

#js-tableTitle {
	font-size: 24px;
	line-height: 80px;
}


